.agGrid {
	flex-grow: 1;
	height: 100%;
	margin-top: auto;
	margin-bottom: 0;


	:deep(.cellInput) {
		border-radius: 0.25rem;
		cursor: pointer;
		border: 1px solid var(--MAGENTA);
	}

	.cellOption {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.ag-cell-not-inline-editing.cellOption::after {
		content: '';
		border-style: solid;
		border-width: 0 5px 6px 5px;
		border-color:  transparent transparent var(--LIME) transparent;
	}
}