.selectSeries {
  // popper 選單靠右
  .text-align-right {
    border: 1px solid red;
    text-align: right;
  }

  // popper 字體
  :deep(.el-popper) {
    .el-select-dropdown__item, .is-selected, .is-hovering {
      font-weight: normal !important;
      color: var(--el-text-color-regular) !important;
    }
  }
}