.selectSeries {

  // popper 選單靠右
  .text-align-right {
    text-align: right;
  }

  // popper 字體顏色
  .el-popper {
    .el-select-dropdown__item, .is-selected, .is-hovering {
      font-weight: normal !important;
        color: var(--el-text-color-regular) !important;
    }
  }
}


